:root{
    --primary-color: rgb(0, 61, 41);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.line{
    margin: 32px 0 32px 0;
}

/* Animated */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}