:root{
    --primary-color: rgb(0, 61, 41);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.line{
    margin: 32px 0 32px 0;
}

/* Animated */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* Move BTN */


.move__btn{
    display: none;
}
.move__btn-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.move__btn-item{
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
.move__btn-item:first-child{
    margin-right: 8px;
}
.move__btn-item:last-child{
    margin-left: 8px;
}

.move__btn-item:hover{
    cursor: pointer;
    background-color: rgb(231, 73, 0);
}

.move__btn-item i{
    font-size: 3.2rem;
    color: whitesmoke;
}