

@media (max-width:575px){
    .navbar__logo-img{
        margin-left: 15px;

    }
    .navbar__logo-name{
        font-size: 2.4rem;
        line-height: 6rem;
    }
}
@media (min-width: 576px) {
   
  }
@media (min-width: 768px) {
    
  }
@media (min-width: 992px) {
    
  }
@media (min-width: 1200px) {
    
  }
@media (min-width: 1400px) {
    
  }